</div>
<div class="cookie-container text-center p-1">
	<button type="button" class="btn btn-sm btn-outline-danger cookie-btn float-right">X</button>
	<p class="mb-0">
		We use cookies in this website to give you the best experience on our
		site and show you relevant ads. To find out more, read our
	<a href="/privacy">Privacy</a> and <a href="/terms">Terms & Condition</a>.
	</p>
</div>
<!-- Footer -->
<footer>
	<div class="footer-min-div">
		<div class="footer-social-icons">
			<ul class="d-flex justify-content-center p-0 text-center mb-0">
				<li><a href="https://www.facebook.com/onlyspace.in" target="blank" rel="noopener"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="https://twitter.com/OnlySpaceIN" target="blank" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="https://www.instagram.com/onlyspace.in" target="blank" rel="noopener"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			</ul>
		</div>

		<div class="footer-menu-one">
			<ul class="text-center p-0">
				<li><a href="/about">About</a></li><span>⋄</span>
				<li><a href="/privacy">Privacy</a></li><span>⋄</span>
				<li><a href="/terms">Terms</a></li><span>⋄</span>
				<li><a href="/contactus">Contact</a></li><span>⋄</span>
				<li><a href="/disclaimer">Disclaimer</a></li>	
			</ul>
		</div>
		
		<hr>
		<p class="text-right mb-0 pb-3">Copyright © 2020 The Blog</p>

	</div>
</footer>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
		<script src="https://use.fontawesome.com/2995661a49.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/javascript/main.js"></script>

  </body>
</html>