<%- include("partials/header") %>
<!-- <div class="container text-center my-1 d-block d-md-none">
	ad 1
</div> -->
<div class="flex-wrap container-fluid mx-0 justify-content-between align-items-center text-center lead">
	<!-- <div class="col-md-2 text-center my-1 d-none d-md-block">
		ad 2
	</div> -->
	
	<div class="container">
		<section class="pb-4">
		  <div class="my-3">
			<hr>
			<h5>About us</h5>
			<hr>
			<p>We are a team of aspiring engineers and scientists trying to make the world a better place by practicing right to informtion. We strive to provide you with quality information and content to keep you well informed about the happenings around the world.</p>
			<hr>
			<h5>Our Team</h5>
			<hr>
		  </div>

		  <div class="row d-flex justify-content-center">
			<div class="col-md-4 text-center border p-2">
				<img class="aboutimg img-fluid" src="https://i.imgur.com/vjCkWMb.jpg">
				<h5>Author & Co-Developer</h5>
				<p><em>Jaswanth K S</em></p>
				<p>Follow me On</p>
				<div class="align-items-center">
					<a class="ml-auto" href="https://www.facebook.com/KSJaswanth" target="blank" rel="noopener"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
					<a class="ml-2" href="https://www.twitter.com/spacefreakjasu" target="blank" rel="noopener"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
					<a class="ml-2" href="https://www.instagram.com/jaswanthphotos" target="blank" rel="noopener"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>  
				</div>

			</div>
			<div class="col-md-4 text-center border p-2">
				<img class="aboutimg img-fluid" src="https://i.imgur.com/NDjMc3Y.jpg">
				<h5>Web Developer</h5>
				<p><em>Vasist Angara</em></p>
				<p>Follow me On</p>
				<div class="align-items-center">
					<a class="ml-2" href="https://twitter.com/Vasist96" target="blank" rel="noopener"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
					<a class="ml-2" href="https://www.instagram.com/angara_vasist" target="blank" rel="noopener"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>  
				</div>
			</div>
		  </div>
  		</section>
	</div>

	<!-- <div class="col-md-2 text-center my-1 d-none d-md-block">
		ad 3
	</div> -->
</div>
<!-- <div class="container text-center my-1 d-block d-md-none">
	ad 4
</div> -->
<%- include("partials/footer") %>