<%- include("partials/header") %>
<!-- <div class="container text-center my-1 d-block d-md-none">
	ad 1
</div> -->
<div class="row flex-wrap container-fluid ml-0 justify-content-between align-items-center text-center">
	<!-- <div class="col-md-2 text-center my-1 d-none d-md-block">
		ad 2
	</div> -->
	
	<div class="col-md-8 mx-auto">
	<h1>Disclaimer</h1>
	<hr>
	<p>Any views or opinions represented in this blog are personal and belong solely to the blog owner and do not represent<br> those of people, institutions or organizations that the owner may or may not be associated with in professional or personal capacity,<br> unless explicitly stated.
	</p>
</div>


	<!-- <div class="col-md-2 text-center my-1 d-none d-md-block">
		ad 3
	</div> -->
</div>
<!-- <div class="container text-center my-1 d-block d-md-none">
	ad 4
</div> -->

<%- include("partials/footer") %>