<%- include("partials/header") %>
<div class="text-center">
	<h1>Page not found!</h1>
	<p>I guess this page is not yet created, I will let the developer know about this :)</p>
</div>

<%- include("partials/footer") %>